.form {
    width: 360px;
    padding: 20px;
    box-shadow: inset 0px 0px 8px 1px black;
}

.form__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form__btn {
    display: block;
    margin: 0 auto;
}
